.qCtrl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qBtn {
  width: 20px;
  height: 20px;
  padding: 3px;
  border: solid 1px grey;
  border-radius: 10px;
  margin: 3px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qDisabled {
  background-color: gray;
  opacity: 0.7;
}
.qBtn:hover {
  background-color: lightgray;
}
.qDisabled:hover {
  background-color: gray;
  cursor: not-allowed;
}
